:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

a {
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
}

.NavigationBar img {
height: 80px;
}

.NavigationBar {
  width: 100vw;
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 12vh;
  background-color: #eeae54;
}

.NavigationBar h1 {
  margin-left: 12px;
}

.NavigationBar img {
  margin-right: 12px;
}

.footer {
  height: 10vh;
  background-color: #eeae54;
  text-align: center;
}

.sidebar {
  background-color: rgb(161, 151, 0);
  width: 15vw;
  display: flex;
  flex-direction:column;
  align-items:center;
}

.content {
  display: flex;
  flex-direction: row;
  min-height: 80vh;
}

.home-container {
  margin-top: 20px;
  margin-bottom: 5px;
}

.recipe {
  display: flex;
  margin: 20px;
}

.recipes-image {
  width: 300px;
  margin-left: 20px;
  height: 180px;
  object-fit: cover;
}

.recipes-info {
  margin-left: 20px;
  font-size: 20px;
}

.add-recipe {
  text-align: center;
  margin: 30px auto;
  padding-bottom: 30px;
  border-bottom: 1px solid grey;
}

.add-recipe form{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.add-recipe form label {
  margin: 3px;
}

.add-recipe form input {
  margin-left: 10px;
}

.btn-delete {
  margin-left: 15px;
}

.about-container {
  margin-top: 30px;
  margin-left: 40px;
  padding: 0;
}

.not-found {
  margin: auto;
  margin-top: 10vh;
}