:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.NavigationBar img {
height: 80px;
}

.NavigationBar {
  width: 100vw;
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 10vh;
  background-color: #eeae54;
}

.NavigationBar h1 {
  margin-left: 12px;
}

.NavigationBar img {
  margin-right: 12px;
}

.footer {
  height: 10vh;
  background-color: #eeae54;
}

.sidebar {
  background-color: rgb(161, 151, 0);
  width: 20vw;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 80vh;
}

.block {
  width: 80vw;
  /* background-color: blueviolet; */
}

.linkHomePage {
  margin-top: 40px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: white;
}